.ct_body {
    width: 1920px;
    height: 1080px;
}

#ct_background {
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 1000px;

}

#ct_title {
    width: 100%;
    position: fixed;
    height: 80px;
    top: 0;
}



.ct_title_img {
    height: 80px;
    width: 100%;
    position: fixed;
    background-size: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.map_dot_con {
    color: #fff;
    position: fixed;
    height: 200px;
    width: 200px;
    background-color: rgba(8, 44, 125, 0.3);
}

.ct_window_off {
    display: none;
}

.ct_window_on {
    width: 1920px;
    height: 1080px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 11;
}

#ct_window_dot_x {
    top: 164px;
    right: 179px;
    position: absolute;
}

#ct_window_dot_map {
    position: absolute;
    width: 366px;
    height: 235px;
    left: 230px;
    bottom: 188px;
    border-style: solid;
    border-color: #20ade2;
    border-width: 3px;
}

#ct_window_dot_warning {
    position: absolute;
    width: 399px;
    height: 174px;
    right: 230px;
    top: 50%;
    transform: translate(0, -50%);
    /*background: url(../img/window_warning_red.gif) center no-repeat;*/
    /*background-size: cover;*/

}

#ct_window_dot_video {
    position: absolute;
    width: 366px;
    height: 235px;
    right: 230px;
    bottom: 188px;
    background: white;
    border-style: solid;
    border-color: #20ade2;
    border-width: 3px;
}

#ct_window_dot_base_table {
    width: 93%;
    position: absolute;
    top: 40px;
    left: 19px;
    color: white;
    font-size: 13px;
    line-height: 1.6;
    text-align: left;
}

#ct_window_dot_base_table > tbody > tr > td {
    width: 50%;
}

#ct_window_dot_status_table {
    width: 93%;
    position: absolute;
    top: 40px;
    color: white;
    font-size: 13px;
    line-height: 1.6;
}

#ct_window_dot_monitor_table {
    width: 93%;
    position: absolute;
    top: 40px;
    left: 55px;
    color: white;
    font-size: 13px;
    line-height: 1.8;
    text-align: left;
}

#ct_window_dot_warning_left {
    width: 145px;
    left: 43px;
    position: absolute;
    top: 70px;
    font-size: 18px;
    font-weight: bold;
}

#ct_window_dot_warning_right {
    width: 180px;
    right: 0;
    position: absolute;
    line-height: 1.2;
    top: 40px;
    /*color: white;*/
    text-align: left;
    font-size: 13px;
}

.bg_black{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(5, 5, 5, 0.8);
    width: 100%;
    height: 100%;
    z-index: 8;
}