#ct_user {
    position: fixed;
    text-align: left;
    color: white;
    right: 50px;
    top: 2px;
    z-index: 12;
}

#ct_setting {
    width: 30px;
    position: fixed;
    right: 4px;
    top: 3px;
    z-index: 12;

}

.setting_button {
    width: 22px;
    height: 22px;
    padding: 0;
    border: 0;
    background: url(../img/setting.png) center no-repeat;
    background-size: cover;
}

.setting_box {
    display: none;
    position: absolute;
    background-color: rgba(5, 5, 5, 0.8);
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 1px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.setting_box span {
    /*color: black;*/
    text-decoration: none;
    display: block;
}

.setting_box span:hover {
    background-color: #29d4ff
}

.ct_setting:hover .setting_box {
    display: block;
}

/*.ct_setting:hover .setting_button {*/
/*    background-color: #3e8e41;*/
/*}*/

.ct_setting_window_on {
    width: 1485px;
    height: 790px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 11;
    background: url(../img/setting_bg.png) center no-repeat;
    background-size: cover;
}

.ct_setting_window_all {
    width: 1350px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ct_setting_window_x {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url(../img/window_dot_x.png) center no-repeat;
    background-size: cover;
}

#ct_setting_window_top {
    width: 1350px;
    height: 80px;
    top: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
}

#ct_setting_window_bottom {
    width: 1348px;
    height: 618px;
    bottom: 0;
    position: absolute;
    /*background-color: rgba(37, 118, 255, 0.2);*/
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.setting_window_top {
    width: 25%;
    color: white;
    font-size: 26px;
    float: left;
    height: 80px;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
}

.setting_window_top:hover {
    background-color: #29d4ff
}

.setting_window_top_on {
    width: 25%;
    color: white;
    font-size: 26px;
    float: left;
    height: 80px;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    background-color: #29d4ff
}

#setting_import_tower_map {
    width: 650px;
    height: 520px;
    position: absolute;
    right: 20px;
    top: 20px;
    /*background: red;*/
}

#setting_import_tower_info {
    width: 550px;
    height: 520px;
    position: absolute;
    left: 20px;
    top: 20px;
    /*background-color: rgba(255, 255, 255, 0.2);*/
    text-align: right;
    line-height: 4.7;
    color: white;
    font-weight: bold;
}

#setting_import_tower_button {
    width: 200px;
    height: 50px;
    position: absolute;
    right: 10px;
    bottom: 17px;
}

#setting_import_monitor_button {
    width: 200px;
    height: 50px;
    position: absolute;
    right: 10px;
    bottom: 17px;
}

#setting_import_tower_submit {
    border-style: solid;
    border-color: #29d4ff;
    border-width: 1px;
    width: 80px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    margin: 10px;
}

#setting_import_tower_reset {
    border-style: solid;
    border-color: #29d4ff;
    border-width: 1px;
    width: 80px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

#setting_import_monitor_submit {
    border-style: solid;
    border-color: #29d4ff;
    border-width: 1px;
    width: 80px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    margin: 10px;
}

#setting_import_monitor_reset {
    border-style: solid;
    border-color: #29d4ff;
    border-width: 1px;
    width: 80px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.setting_import_tower_info_left {
    width: 275px;
    height: 520px;
    position: absolute;
    left: -5px;
    top: 10px;
}

.setting_import_tower_info_right {
    width: 275px;
    height: 520px;
    position: absolute;
    right: 25px;
    top: 10px;
}

.setting_import_tower_info_left input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    outline: none;
    color: white;
}

.setting_import_tower_info_right input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    outline: none;
    color: white;
}

.setting_import_tower_info_bottom {
    position: absolute;
    left: 40px;
    bottom: 0;
    text-align: left;
    line-height: 1.5;
}

.setting_import_tower_info_bottom input {
    visibility: hidden;
}

.setting_import_tower_info_bottom label {
    width: 100px;
    height: 40px;
    font-weight: normal;
    font-size: 15px;
    margin: 10px;
    /*background: url(../img/company_bg.png) center no-repeat;*/
    /*background-size: cover;*/
}

.setting_import_tower_info_bottom input[type="checkbox"]:checked + label {
    width: 100px;
    height: 40px;
    font-weight: normal;
    font-size: 15px;
    margin: 10px;
    background: url(../img/company_bg.png) center no-repeat;
    background-size: cover;
}

.setting_submit {
    right: 10px;
    bottom: 10px;
    position: absolute;
}

#setting_import_monitor_map {
    width: 650px;
    height: 520px;
    position: absolute;
    right: 20px;
    top: 20px;
}

#setting_import_monitor_info {
    width: 550px;
    height: 520px;
    position: absolute;
    left: 20px;
    top: 20px;
    text-align: right;
    line-height: 3.5;
    color: white;
    font-weight: bold;
}

#setting_import_monitor_image{
    position: absolute;
    bottom: 45px;
    left: 30px;
    width: 500px;
    height: 125px;
}
.setting_input_image{
    width: 125px;
    height: 125px;
    background: url(../img/image_bg.png) center no-repeat;
    background-size: cover;
    margin: 10px;
}

.setting_batch_window{
    width: 1000px;
    height: 100px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.setting_input_file{
    width: 998px;
    /*position: absolute;*/
    /*top: 50px;*/
    border-style: solid;
    border-color: white;
    border-width: 1px;
}
.input_file_txt{
    text-align: left;
    left: 0;
    position: absolute;
    bottom: 0;
    color: white;
}

.setting_bottom_box{
    width: 250px;
    height: 50px;
    position: absolute;
    right: 10px;
    bottom: 17px;
}

.setting_bottom {
    border-style: solid;
    border-color: #29d4ff;
    border-width: 1px;
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    margin: 10px;
}